.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 5;
} 

.modal__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #576BE3;
    width: 480px;
    border-radius: 5px 5px 0 0;
}
    
.modal__main {
    padding: 1rem;
    background-color: #B3BFDD;
    width: 480px;
}

.modal__main-content {
    color: #fff;
    font-size: 1rem;
    text-align: center;
}

.modal__header-title {
    color: #fff;
    font-size: 1.5rem;
    font-weight: 400;
}
  
.modal__header-close {
    border: none;
    color: #fff;
    background-color: transparent;
    font-size: 3rem;
    cursor: pointer;
}

.modal__footer {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 1rem;
    background-color: #B3BFDD;
    width: 480px;
    border-radius: 0 0 5px 5px;
}
 