@font-face {
  font-family: 'Chirp';
  font-weight: 400;
  src: url(../public/fonts/chirp-regular-web.woff);
}

html,
body,
#root,
.app {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Chirp", sans-serif;
  background-color: #000000;
 
}
