body {
  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
  margin-top: 30px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 20px;
}

h2 {
  margin: 0;
  font-size: 24px;
}

p {
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 16px;
}

li ul {
  margin-top: 10px;
  margin-left: 20px;
}