* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    overflow-x: hidden;
}

a, ul, li {
    list-style: none;
    text-decoration: none;
}

.container {
    width: 1160px;
    height: 100%;
    margin: 0 auto;
}

.header {
    display: flex;
    align-items: center;
    position: fixed;
    height: 120px;
    width: 100vw;
    background: rgba(94, 93, 88, 0.6);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 1;
}

.header-items {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-logo {
    position: relative;
    display: flex;
    align-items: center;
    gap: 6px;
}

.svg-letter {
    position: absolute;
    display: flex;
    left: 14px;
    font-weight: 700;
    font-size: 40px;
    color: #fff;
}

.header-logo-name {
    font-weight: 400;
    font-size: 32px;
    color: #fff;
}

.header-logo-name-span {
    font-weight: 700;
    font-size: 32px;
    color: #18CFAB;
}

.header-menu-links {
    display: flex;
    gap: 21px;
    flex-wrap: wrap;
}

.header-menu-link {
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.6);
}

.header-menu-link:hover {
    color: #18CFAB;
    text-decoration: underline 2px;
    text-underline-offset: 56px;
}

.header-menu-search-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.header-menu-search {
    height: 20px;
    width: 21px;
}

.header-menu-search:hover {
    fill: #18CFAB;
    text-decoration: underline 2px;
    text-underline-offset: 56px;
}

.first-background{
    height: 100%;
    width: 100vw;
    background-image: url(../img/bg/BG.png);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.first-background-items {
    padding-top: 240px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 22px;
}

.first-background-paragraph {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 35px;
    color: #fff;
}

.first-background-paragraph-span {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 35px;
    color: #18CFAB;
}

.first-background-title {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 78px;
    color: #fff;
}

.first-background-second-paragraph {
    text-transform: uppercase;
    font-size: 34px;
    color: #d4d4d4;
}

.first-background-buttons {
    margin: 127px 0px 242px;
    display: flex;
    justify-content: center;
    gap: 26px;
}

.buttons-background {
    position: relative;
    height: 60px;
    width: 165px;
    background-color: #fff;
    border-radius: 3px;
}

.background-button {
    position: absolute;
    top: 5px;
    left: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #18CFAB;
    min-height: 60px;
    min-width: 165px;
    font-weight: 700;
    font-size: 15px;
    text-transform: uppercase;
    color: #fff;
    border-radius: 3px;
}

.background-button.color {
    background-color: #00CBF6;
}

.background-button:active {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    transform: translateY(-5px);
    transition: ease-in-out 0.5s;
}

.second-background {
    margin-bottom: 180px;
    height: 100%;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.0001);
}

.second-background-options-panel {
    margin-top: 8px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.options-panel-element {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
    color: #18CFAB;
    height: 360px;
    background-color: #1C2A33;
}

.white {
    color: #fff;
    background-color: #18CFAB;
}


.background-title-wrapper {
    display: flex;
    justify-content: center;
}

.background-title-first {
    margin: 92px 0;
    position: relative;
    font-weight: 400;
    font-size: 36px;
    color: #4E4E4E;
}

.background-title-first::before {
    content: '';
    position: absolute;
    bottom: -27px;
    left: 61px;
    width: 76px;
    border-bottom: solid 1px #18CFAB;
}

.background-title-first::after {
    content: '';
    position: absolute;
    bottom: -30px;
    left: 73px;
    width: 76px;
    border-bottom: solid 1px #18CFAB; 
}

.background-title-second {
    margin: 96px 0px 100px;
    position: relative;
    font-weight: 400;
    font-size: 36px;
    color: #4E4E4E;
}

.background-title-second::before {
    content: '';
    position: absolute;
    bottom: -27px;
    left: 113px;
    width: 76px;
    border-bottom: solid 1px #18CFAB;
}

.background-title-second::after {
    content: '';
    position: absolute;
    bottom: -30px;
    left: 125px;
    width: 76px;
    border-bottom: solid 1px #18CFAB; 
}
.background-title-third {
    margin: 100px 0 82px;
    position: relative;
    font-weight: 400;
    font-size: 36px;
    color: #4E4E4E;
}

.background-title-third::before {
    content: '';
    position: absolute;
    bottom: -27px;
    left: 83px;
    width: 76px;
    border-bottom: solid 1px #18CFAB;
}

.background-title-third::after {
    content: '';
    position: absolute;
    bottom: -30px;
    left: 95px;
    width: 76px;
    border-bottom: solid 1px #18CFAB; 
}

.background-title-fourth {
    margin: 98px 0 96px;
    position: relative;
    font-weight: 400;
    font-size: 36px;
    color: #FFFFFF
}

.background-title-fourth::before {
    content: '';
    position: absolute;
    bottom: -27px;
    left: 221px;
    width: 76px;
    border-bottom: solid 1px #18CFAB;
}

.background-title-fourth::after {
    content: '';
    position: absolute;
    bottom: -30px;
    left: 233px;
    width: 76px;
    border-bottom: solid 1px #18CFAB; 
}

.second-background-tabs {
    display: flex;
}

.second-background-tabs-title {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-weight: 400;
    font-size: 16px;
    color: #717171;
    width: 192px;
    height: 72px;
    background-color: #F8FCFE;
    border: 1px solid #EDEFEF;
}

.second-background-tabs-title:hover {
    border: 1px solid #18CFAB;
    transform: translate(5px,0);
    transition: ease 0.5s;
}

.second-background-tabs-title.active {
    position: relative;
    border: 1px solid #18CFAB;
    background-color: #18CFAB;
    color: #fff;
}

.second-background-tabs-title.active:before {
	content: ""; 
	border: solid transparent;
	position: absolute;
 	top: 100%;
	left: 50%;
	border-top-color: #18CFAB;
	border-width: 9px;
	margin-left: -9px;
}

.second-background-tabs-contents {
}

.second-background-tabs-content-img {
    height: 160px;
    width: 190px;
}

.second-background-tabs-content{
    display: none;
}

.second-background-tabs-content-paragraph {
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    color: #777777;
}

.second-background-tabs-content.active {
    margin-top: 25px;
    display: flex;
    gap: 15px;
}

.third-background {
    position: relative;
    width: 100vw;
    height: 100%;
    background-image: url(../img/bg/BG2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.third-background::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color:rgba(0, 0, 0, .78);
}

.third-background-centered-content {
    padding: 127px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 24px;
}

.third-background-span {
    z-index: 1;
    font-weight: 700;
    font-size: 40px;
    text-transform: uppercase;
    color: #18CFAB;
    text-align: center;
}

.third-background-paragraph {
    z-index: 1;
    font-size: 16px;
    color: #D8D8D8;
    text-align: center;
    margin-bottom: 72px
}

.fourth-background {
    width: 100vw;
    height: 100%;
    background-color: #E9EDEF;
}

.fourth-background-tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 71px;
}

.fourth-background-tabs-title {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-weight: 400;
    font-size: 16px;
    color: #717171;
    padding: 27px 15px; 
    background-color: #F8FCFE;
    border: 1px solid #EDEFEF;
}

.fourth-background-tabs-title:first-child {
    padding: 27px;
}
.fourth-background-tabs-title:hover {
    border: 1px solid #18CFAB;
}

.fourth-background-tabs-title.active {
    border: 1px solid #18CFAB;
    color: #18CFAB;
}

.fourth-background-tabs-images {
    display: none;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0px;
    padding-bottom: 70px;
}

.fourth-background-tabs-img {
position: relative;
}
.fourth-background-tabs-img-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 285px;
    height: 211px;
    background: #E9EDEF;
}
/* 
.fourth-background-tabs-img-back-circles {

}

.fourth-background-tabs-img-back-paragraph {

}

.fourth-background-tabs-img-back-change-paragraph{

} */

.fourth-background-tabs-images.active {
    display: flex;
}

.fifth-background {
    height: 100%;
    width: 100vw;
    background-color: #FFFFFF;
    margin-bottom: 180px;
}

.fifth-background-contents {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 44px 33px;
}

.fifth-background-content {
    position: relative;
}

/* .fifth-background-content-link{

} */

.fifth-background-content-link:hover .fifth-background-content-paragraph {
    color: #18CFAB;
    transform: translate(10px, 0);
}

.fifth-background-image-effect {
    display: inline-block;
    overflow: hidden;
}

.fifth-background-content-img {
    width: 263px;
    height: 208px;
    transition: 0.5s;
}

.fifth-background-content-link:hover .fifth-background-content-img {
    transform: scale(1.2);

}

.fifth-background-content-paragraph {
    margin: 10px 10px 5px;
    font-weight: 700;
    font-size: 18px;
    color: #717171;
    transition: ease 0.5s;
}

.fifth-background-content-span-first {
    position: relative;
    margin: 10px 14px;
    font-weight: 300;
    font-size: 14px;
    color: #717171;
}

.fifth-background-content-span-first::after{
    content: '';
    position: absolute;
    height: 12px;
    bottom: 2px;
    right: -16px;
    border-right: solid 1px #717171;

}

.fifth-background-content-span-second {
    margin: 10px 12px;
    font-weight: 300;
    font-size: 14px;
    color: #717171;
}

.fifth-background-content-date {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    position: absolute;
    right: 0px;
    top: 0px;
    width: 66px;
    height: 64px;
    background-color: #203E38;
}

.fifth-background-content:hover .fifth-background-content-date {
    background-color: #18CFAB;
    transition: ease 0.5s;
}

.fifth-background-content-date-span {
    font-weight: 400;
    font-size: 16px;
    color: #fff;
}

.sixth-background {
    width: 100vw;
    height: 100%;
    background-image: url(../img/bg/BG3.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.sixth-background-svgs {
    display: flex;
    justify-content: center;
}

.sixth-background-content-wrapper {
    display: flex;
  
}

.sixth-background-content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;
}

.sixth-background-content.active {
    display: flex;
}

.sixth-background-content-paragraph {
    font-weight: 300;
    font-size: 16px;
    color: #BBBBBB;
    text-align: center;
    margin: 37px 10px;
}

.sixth-background-content-span-name {
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    color: #18CFAB;
    text-align: center;
    margin-bottom: 20px;
}

.sixth-background-content-span-position {
    font-weight: 300;
    font-size: 16px;
    color: #BBBBBB;
    text-align: center;
    margin-bottom: 38px;
}

.sixth-background-content-img-background {
    width: 73px;
    height: 72px; 
    background-color: rgb(31, 218, 181, 0.2);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sixth-background-content-img-background.active {
    transform: translate(0, -11px);
    transition: all 0.3s;
}

.sixth-background-content-img {
    width: 63px;
    height: 62px;
    border-radius: 50%;
}

.sixth-background-content-img-background-big {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(31, 218, 181, 0.2);
    border-radius: 50%;
    width: 166px;
    height: 166px;
}

.sixth-background-content-img-big {
    height: 142px;
    width: 143px;
    border-radius: 50%;
}

.sixth-background-slider {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 50px 0 100px;
}

.sixth-background-slider-content {

}

.sixth-background-slider-line {
    position: relative;
    display: flex;
    justify-content: center;
    gap: 27px;
}

.sixth-background-slider-left {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.0001);
    border: 1px solid #BBBBBB;
    width: 31px;
    height: 31px;
}

.sixth-background-slider-left:hover {
    border-color: #18CFAB;
    background-color: #18CFAB;
}   

.sixth-background-slider-left:hover .slider-svg-left {
    fill: #fff;
}

.sixth-background-slider-right {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.0001);
    border: 1px solid #BBBBBB;
    width: 31px;
    height: 31px;
}

.sixth-background-slider-right:hover {
    border-color: #18CFAB;
    background-color: #18CFAB;
}   

.sixth-background-slider-right:hover .slider-svg-right {
    fill: #fff;
}

.footer {
    width: 100vw;
    height: 100%;
    background-color: #22353F;
}

.footer-rights {
    display: flex;
    justify-content: center;
    padding: 48px 10px;
}

.footer-paragraph {
    font-weight: 300;
    font-size: 14px;
    color: #AEAEAE;

}

.footer-link {
    color:#18CFAB;
}