.create-post__container {
    margin-top: 110px;
}

.create-post__title {
    text-transform: uppercase;
    color: #1F2254;
    font-size: 30px;
    text-align: center;
}

.create-post__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
 
}

.create-post__form input {
    border: none;
    font-size: 18px;
    padding: 15px 20px;   
    border-radius: 6px;
    transition: ease 0.3s;
}

.create-post__form input:hover {
    box-shadow: 0px 0px 15px -4px rgba(0,0,0,0.8);
}

.create-post__form input:focus {
    outline: 1px solid #1F2254;
    box-shadow: 0px 0px 15px -4px rgba(0,0,0,0.8);
}

.create-post__form input::placeholder {
    color: #8985A4;
    text-transform: uppercase;
    text-align: center;
}

.create-post__form select{
    border: none;
    font-size: 18px;
    padding: 15px 20px;   
    border-radius: 6px;
}


.create-post__message {
    text-align: center;
    color: green;
}

.checkbox__main {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 18px;
}

.checkbox__wrapper {
    position: relative;
    background: rgb(54, 49, 49);
    width: 60px;
    height: 30px;
    border-radius: 100vh;
    transition: 0.4s ease;
}

.checkbox__wrapper::before {
    content: "";
    position: absolute;
    inset-block: 0;
    left: 0;
    width: 30px;
    border-radius: 100vh;
    background: #888;
    transition: transform 0.4s ease;
}

.checkbox__wrapper:has(input[type=checkbox]:checked) {
    background: #80ed99;
}

.checkbox__wrapper:has(input[type=checkbox]:checked)::before {
    transform: translateX(30px);
}

.checkbox__wrapper input[type=checkbox] {
    opacity: 0;
    position: absolute;
    inset: 0;
    cursor: pointer;
}