<footer class="footer">
    <div class="wrapper">
        <div class="footer-title">
            <h3 class="footer-title-text">- get in touch with us -</h3>
        </div>
        <div class="footer-paragraph">
            <p class="footer-paragraph-text">Maecenas faucibus molli interdum. Cras mattis consectetur purus sitor amet sed donec malesuada ullamcorper odio. 
                <span>Curabitur blandit tempus porttitor vollisky inceptos mollisestor.</span></p>
        </div>
        <div class="footer-icons">
            <a href="#">
                <div class="footer-icon-border orange">
                    <img src="@img/rss-icon.png" alt="" class="footer-icon">
                </div>
            </a>
            <a href="#">
                <div class="footer-icon-border blue">
                    <img src="@img/facebook-icon.png" alt="" class="footer-icon">
                </div>
            </a>
            <a href="#">
                <div class="footer-icon-border sky">
                    <img src="@img/twitter-icon.png" alt="" class="footer-icon">
                </div>
            </a>
            <a href="#">
                <div class="footer-icon-border pink">
                    <img src="@img/dribbble-icon.png" alt="" class="footer-icon">
                </div>
            </a>
            <a href="#">
                <div class="footer-icon-border red">
                    <img src="@img/pinterest-icon.png" alt="" class="footer-icon">
                </div>
            </a>
        </div>
        <div class="footer-contacts">
            <a href="">Moonshine St. 14-05 Light City</a>
            <span>/</span>
            <a href="tel:+001234567890">T. +00 (123) 456 78 90</a>
            <span>/</span>
            <a href="mailto:first.last@email.com">first.last@email.com</a>
        </div>
    </div>
</footer>
