<div class="wrapper">
    <header class="header">
        <ul class="header-links">
           <li><a href="" class="header-link">Home</a></li>
           <li><a href="" class="header-link">About Us</a></li>
           <li><a href="" class="header-link">Our Journal</a></li>
           <li><a href="" class="header-link">Projects</a></li>
           <li><a href="" class="header-link">news</a></li>
           <li><a href="" class="header-link">features</a></li>
           <li><a href="" class="header-link">contact</a></li>
        </ul>
        <div class="burger-center">
            <div class="burger-menu">
                <span></span>
                <span></span>
                <span></span>
            </div>  
        </div>
            <img src="@img/intro-img.png" alt="" class="header-img">
    </header>
</div>