@font-face {
    font-family: Circe;
    src: url(../font/Circe-Regular.ttf);
}

@font-face {
    font-family: Gilam;
    src: url(../font/gilam-regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Gilam;
    font-size: 10px;
    background: #E5E5E5;
}

a, ul, li {
    list-style: none;
    text-decoration: none;
}

.container-first {
    height: 100%;
    width: 100%;
    background-image: url(../img/header-bg.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
    display: flex;
}

.wrapper-first {
    max-width: 1460px;
    margin: 37px auto 81px;
}

.header {
    max-width: 1460px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.header-logo {
    display: flex;
    align-items: center;
}

.header-contacts {
    display: flex;
    font-family: Circe;
    gap: 39px;
}

.header-phone {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 2em;
    color: #ffffff;
}

.header-phone-color {
    margin-right: 5px;
    color: #D6AF76;
}

.header-link {
    display: flex;
    align-items: center;
    border: 1px solid #E4B564;
    gap: 10px;
    padding: 10px 25px;
}

.header-link-paragraph {
    font-size: 1.8em;
    color: #D6AF76;
}

.first-section {
    font-weight: 700;
    color: #ffffff;
}

.first-section-title {
    font-size: 5em;
    margin-top: 120px;
}

.first-section-paragraph {
    max-width: 1182px;
    font-size: 2em;
    margin: 40px 0;
}

.first-section-elements {
    display: grid;
    grid-template-columns:repeat(6, 1fr);
    grid-template-rows: repeat(2, 468px);
    gap: 25px 30px;
}

.first-section-element-paragraph {
    margin: 0 40px;
    font-size: 2em;
}

.first-section-element1 {
    display: grid;
    align-content: center;
    justify-content: center;
    text-align: center;
    grid-column: 1 / 3;
    background: #634F2C;
}

.first-section-element2 {
    display: grid;
    align-content: center;
    justify-content: center;
    text-align: center;
    grid-column: 3 / 5;
    background: #B4A385;
}

.first-section-element3 {
    display: grid;
    align-content: center;
    justify-content: center;
    text-align: center;
    grid-column: 5 / 7;
    background: #E4B564;
}

.first-section-element4 {
    display: grid;
    align-content: center;
    justify-content: center;
    text-align: center;
    grid-column: 1 / 4;
    background: #635A4A;

}

.first-section-element5 {
    display: grid;
    align-content: center;
    justify-content: center;
    text-align: center;
    grid-column: 4 / 7;
    background: #B08C4D;
}

.container-second {
    width: 100vw;
    height: 100%;
    background: #171717;
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
    display: flex;
}

.wrapper-second {
    max-width: 1460px;
    margin: 80px auto 161px;
}

.second-section {
    color: #ffffff;
}

.second-section-title {
    font-weight: 700;   
    font-size: 5em;
    margin-bottom: 94px;
}

.second-section-elements {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(897, 1px);
    gap: 0 30px;
}

.second-section-element1 {
    grid-row: 1 / 314;
    background: #0E0E0E;
}

.second-section-element2 {
    grid-row: 1 / 440;
    background: #242424
}

.second-section-element3 {
    grid-row: 1 / 256;
    background: #1F1F1F;
}

.second-section-element4 {
    grid-row: 338/ 898;
    background: #1F1F1F;
}

.second-section-element5 { 
    grid-row: 472 / 878;
    background: #E4B564;
    color: #000000;
}

.second-section-element6 {
    grid-row: 620 / 898;
    background: #0A0909;
    font-weight: 700;
}

.second-section-element7 {
    grid-row: 281 / 595;
    background: #0E0E0E;
    font-weight: 500;
}

.second-section-element-paragraph {
    margin: 44px 50px;
    font-size: 2em;
}

.second-section-element-span {
    font-weight: 700;
}

.footer {
    height: 100%;
    width: 100vw;
    background: #E5E5E5;
    background-image: url(../img/parallax-bg.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
    display: flex;
}

.footer-section { 
    width: 1460px;
    margin: 161px auto 238px;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 61px;
}

.footer-title {
    font-size: 5em;
    color: #FFFFFF;
}

.footer-link {
    display: flex;
    align-items: center;
    border: 1px solid #E4B564;
    font-size: 1.8em;
    color: #E4B564;
    padding: 0 40px;
}

.footer-section-elements{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 397px);
}

.footer-section-element1 {
    display: grid;
    align-content: center;
    justify-content: center;
    text-align: center;
    background: #634F2C;
}

.footer-section-element2 {
    display: grid;
    align-content: center;
    justify-content: center;
    text-align: center;
    justify-items: center;
    background: rgba(232, 210, 171, 0.76);
}

.footer-section-element2-paragraph {
    font-size: 2.2em;
    font-weight: 600;
    color: #ffffff;
    max-width: 315px;
}

.footer-section-element2-span {
    font-weight: 400;
}

.footer-section-element3 {
    display: grid;
    align-content: center;
    justify-content: center;
    text-align: center;
    background: #E4B564;
}

.footer-section-element4 {
    display: grid;
    align-content: center;
    justify-content: center;
    text-align: center;
    background: #635A4A;
}

.footer-section-element5 {
    display: grid;
    align-content: center;
    justify-content: center;
    text-align: center;
    background: #B08C4D;
}

.footer-section-element6 {
    display: grid;
    align-content: center;
    justify-content: center;
    text-align: center;
    background: #634F2C;
}