.post {
    width: 550px;
    margin: 30px 40px 50px;
    border: 1px solid rgba(128, 128, 128, 0.516);
    border-radius: 8px;
}
.post__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: black;
    border-radius: 6px;
}
.post__headerAuthor {
    display: flex;
    gap: 10px;
    align-items: center;
    font-weight: 700;
}
.post__headerAuthor span {
    color: grey;
    font-size: 15px;
}
.post__image img {
    width: 100%;
}
.post__footer {
    background-color: black;
    margin-top: -4px;
    border-radius: 8px;
}
.post__footerIcons {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.post__information {
    display: flex;
    flex-direction: column;
}
.postIcon {
    padding: 7px;
    font-size: 30px;
}
.postIcon:hover {
    cursor: pointer;
}
