.timeline {
    display: flex;
    justify-content: center;
    background-color: #121212;
    border-left: 0.6px solid rgba(128, 128, 128, 0.516);
    &__left {
        display: flex;
        justify-content: flex-end;
        flex: 0.7;
        margin-right: 10%;
    }
    &__right {
        flex: 0.3;
        margin: 30px 20px 0 0;
    }
}
.suggesstions__top {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
    color: white;
}
.suggesstions__top:hover {
    cursor: pointer;
}

.suggesstions__title {
    color: grey;
    font-weight: 700;
}