* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1080px;
    margin: 0 auto;
    padding: 0 20px;
}

.title {
    font-size: 50px;
    text-align: center;
    margin: 20px 0 30px;
}

.card {
    border: 1px solid grey;
    padding: 20px;
    margin-bottom: 20px;
}

.card-title {
    font-size: 30px;
    margin-bottom: 15px;
    text-align: center;
}

.card-text {
    font-size: 20px;
    margin-bottom: 20px;
}

.card-user {
    font-size: 15px;
    color: grey;
    margin-bottom: 10px;
    text-align: end;
}

.delete-button {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: red;
    text-transform: uppercase;
    color: white;
    padding: 10px;
    font-size: 15px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.delete-button:hover {
    background-color: #be2b2b;
}