.post {
    width: 550px;
    margin: 30px 40px 50px;
    border: 1px solid rgba(128, 128, 128, 0.516);
    border-radius: 8px;
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        background-color: black;
        border-radius: 6px;
    }
    &__headerAuthor {
        display: flex;
        gap: 10px;
        align-items: center;
        font-weight: 700;
    }
    &__headerAuthor span {
        color: grey;
        font-size: 15px;
    }
    &__image img {
        width: 100%;
    }
    &__footer {
        background-color: black;
        margin-top: -4px;
        border-radius: 8px;
    }
    &__footerIcons {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__information {
        display: flex;
        flex-direction: column;
    }
    
}

.postIcon {
    padding: 7px;
    font-size: 30px;
    &:hover {
        cursor: pointer;
    }
    
}
