.login__container {
    display: flex;
    align-items: center;
    flex: 1;
    background-color: black;
    height: 100vh;
    padding: 0 25px;  
}

.login-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 0.5;
    fill: rgb(231, 233, 234);

}

.login-right {
    display: flex;
    flex-direction: column;
    flex: 0.5;
}

.login-messages {
    display: flex;
    flex-direction: column;
}

.login-message {
    color: white;
    font-size: 60px;
    padding: 48px 0;
}
.login-message:last-child {
    padding-top: 0;
}

form {
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
}

form input {
    padding: 10px 20px;
    outline: none;
    border: none;                                           
    background: transparent;          
    border-bottom: 1px solid #656565;  
    color: #fff;
    font-size: 24px;
    margin-top: 40px;     
    max-width: 500px                                                                                                                                                                                                                                                                              ;
}


form input:-webkit-autofill{
    -webkit-text-fill-color: #fff ;
    -webkit-box-shadow: 0 0 0 30px black inset;
}

.button__wrapper {
    margin-top: 40px;
    display: flex;
    align-items: center;
    width: fit-content;
    transition: ease 0.3s;
    
}

.button__wrapper:hover {
    transform: translateX(20px);
    cursor: pointer;
}

.signin {
    display: flex;
    justify-content: center;
    color: #fff;
    font-size: 20px;
    margin-top: 40px;
    max-width: 500px;
}

.error-message {
    margin-top: 10px;
    color:red
}