.sidenav {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1;
    width: 18%;
}
.sidenav__logo {
    width: 104px;
    margin: 25px 0 15px 25px;
}
.sidenav__logo:hover {
    cursor: pointer;
}
.sidenav__buttons {
    display: flex;
    flex-direction: column;
}
.sidenav__buttons a {
    text-decoration: none;
}
.sidenav__button {
    display: flex;
    align-items: center;
    color: white;
    background: none;
    border: none;
    margin: 5px 10px;
    padding: 10px 15px;
    border-radius: 15px;
    width: 100%;
}

.logout {
    justify-content: space-between;
}

.sidenav__button:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.128);
}
.sidenav__button span {
    font-size: 18px;
    font-weight: 700;
    margin-left: 12px;
}
.sidenav__more {
    width: 18%;
    position: fixed;
    bottom: 3px;
}
.sidenav__icon {
    width: 44px;
    height: 44px;
}
.sidenav__dropdown {
    width: 238px;
    background-color: #262626;
    margin: 20px;
    border-radius: 6px;
}
.logout__dropdown-button {
    font-size: 15px;
    border-radius: 10px;
    font-weight: 600;
    color: white;
    background: none;
    padding: 15px;
    border: none;
    width: 100%;
    text-align: start;
}
.logout__dropdown-button:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.424);
}
