.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.modal {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  
.modal-content {
    margin-bottom: 15px;
}
  
.modal-actions {
    text-align: right;
}
  
