.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 70%;
  max-width: 600px;
  box-shadow: 0px 2px 10px rgba(0,0,0,0.3);
  border-radius: 5px;
}

.close-button {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-button:hover,
.close-button:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


label {
  display: block;
  margin: 10px;
}

select, input[type="text"] {
  width: 200px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type="text"]:placeholder-shown {
  border: 1px solid #ccc;
  color: #999;
}

input[type="text"]:invalid {
  border: 1px solid red;
}

input[type="text"]:focus {
  border-color: #4CAF50;
  outline: none;
}

input[type="email"],
input[type="password"] {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #f2f2f2;
}

.create-button {
  padding: 5px 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

button[type="submit"] {
  padding: 10px 20px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #3e8e41;
}

button[type="submit"]:active {
  background-color: #2e6a35;
}

#fields-container {
  margin-bottom: 10px;
}

