* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin: 0 auto;
    max-width: 1200px;
    height: 100px;
}

.header__logo {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.header__logo-text {
    text-transform: uppercase;
    font-size: 25px;
    color: #0080FF;
    font-weight: 600;
}

.header__logo-svg {
    width: 60px;
    height: 60px;
}

.header__login {
    display: flex;
    gap: 10px;
}

.header__login-button {
    padding: 10px 20px;
    background: none;
    border: 2px solid #0080FF;
    border-radius: 6px;
    font-size: 18px;
    text-transform: uppercase;
    cursor: pointer;
    color: black;
}

.header__create-visit-button {
    display: none;
    padding: 10px 20px;
    background: none;
    border: 2px solid #0080FF;
    border-radius: 6px;
    font-size: 18px;
    text-transform: uppercase;
    cursor: pointer;
    color: black;
}

.header__logout-button {
    padding: 5px;
    background: none;
    border: 1px solid red;
    border-radius: 4px;
    font-size: 14px;
    text-transform: uppercase;
    cursor: pointer;
    color: black;
}
.cards-section {
    background-color: #0080FF;
    display: flex;
    padding: 0 20px;
    margin: 0 auto;
    max-width: 1200px;
    min-height: 500px;
}

.no-cards {
    height: 500px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}

.card-title {
    font-size: 18px;
    margin-bottom: 10px;
}

.card-content {
    flex-grow: 1;
  }

.filters {
    display: flex;
    justify-content: center;
    margin: 15px;
}