@font-face {
    font-family: Montserrat;
    src: url(../font/Montserrat-Medium.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    display: flex;
    justify-content: center;
}

body {
    font-family: Montserrat;
    background: rgba(0, 0, 0, 0.0001);
}

ul, li, a {
    list-style: none;
    text-decoration: none;
}

.header {
    display: flex;
    justify-content: center;
    max-width: 1280px;
}

.header-navbar {
    margin: 25.5px 0;
}

.navbar-links {
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 2.7px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 72px;
}

.navbar-link {
    color: red;
}

.navbar-link1 {
    color: red;
    margin-left: -22px;
}

.main {

}

.main-img {
    display: flex;
    height: 789px;
    max-width: 1280px;
    background-image: url(../img/image.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.main-text{
    max-width: 1280px;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.main-title {
    font-weight: 700;
    font-size: 22px;
    letter-spacing: 3.3px;
    text-transform: uppercase;
    color: #373737;
    margin: 48px 0px 38px 0px;
   
}
.main-paragraph {
    margin-bottom: 28px;
    font-size: 16px;
    letter-spacing: 2.4px;
    color: #373737;
}

.main-paragraph:last-child {
    margin-bottom: 0px;
}

.main-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-button {
    margin-top: 70px;
    width: fit-content;
    display: flex;
    justify-content: center;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 18px 35px;
    background-color: red;
    border: 1px solid red;
    border-radius: 4px;
}

.footer {
    display: flex;
    justify-content: flex-end;
    max-width: 1280px;
}

.footer-paragraph {
    margin-right: 105px;
    margin-top: 82px;
    margin-bottom: 43px;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 2.4px;
    color: #373737;
}