@import url(https://fonts.googleapis.com/css?family=Ubuntu:regular,500,700);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Ubuntu', sans-serif;
}

ul, li, a {
    list-style: none;
    text-decoration: none;
}

.wrapper {
    width: 100vw;
    height: 100vh;
    background-image: url(../img/background/background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.header {
    max-width: 1366px;
    height: 58px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background: rgba(0, 0, 0, 0.4);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 0 79px;
}

.header:hover {
    background: #000000;
    opacity: 0.41;
    transition: ease .7s;
}

.header-logo-link {
    font-weight: 700;
    font-size: 22px;
    color: #FFFFFF;
}

.header-logo-link:hover {
    color: #3CB878;
}

.header-menu {
    display: flex;
}

.header-menu-links {
    display: flex;
    margin-top: 4px;
}

.header-menu-links li:first-child {
    margin-right: 27px;
    display: flex;
    align-items: center;
}

.header-menu-links li:nth-child(2) {
    margin-right: 24px;
}

.header-menu-links li:last-child {
    margin-right: 53px;
}

svg path {
    fill: inherit;
}

.header-menu-svg:hover {
    fill: #3CB878;
}

.header-authentication {
    display: flex;
    align-items: center;
    position: relative;
    color: #FFFFFF;
}

.header-authentication::before {
    content: '';
    border-left: 1px solid;
    height: 19px;
    background: rgba(255, 255, 255, 0.9);
    opacity: 0.5;
    position: absolute;
    left: -27px;
}

.header-authentication-paragraph {
    font-size: 14px;
    color: #FFFFFF;
}

.header-authentication-link {
    font-size: 14px;
    color: #FFFFFF;
}

.header-authentication-link:hover {
    color: #3CB878;
}

.main {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-top: -40px; */
}

.form-container {
    width: fit-content;
    height: fit-content;
    background: #FFFFFF;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
}

.main-header-text {
    display: flex;
    justify-content: space-between;
    padding: 31px 60px 0;
}

.main-title {
    font-size: 20px;
    color: #434343;
    position: relative;
}

.main-title::before {
    content: '';
    position: absolute;
    width: 18px;
    height: 18px;
    left: -60px;
    bottom: 4px;
    background: #3CB878;
}


.main-authentication-link {
    font-size: 14px;
    color: #3CB878;
}

.main-authentication-link:hover {
    text-decoration: underline;
}

.main-buttons {
    display: flex;
    gap: 8px;
    margin: 14px 60px 0px;
}

.main-button-facebook {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px 0px 16px;
    width: 160px;
    height: 48px;
    color: #FFFFFF;
    background: #305DB8;
    border-radius: 3px;
    position: relative;
}

.main-button-facebook:hover {
    background: #022263;
    transition: ease .5s;
}

.main-button-facebook::before {
    content: '';
    position: absolute;
    height: 28px;
    border: 1px solid #0A162F;
    opacity: 0.1;
    left: 48px;
}

.main-button-google {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 26px 0px 12px;
    width: 160px;
    height: 48px;
    color: #FFFFFF;
    background: #DF4A32;
    border-radius: 3px;
    position: relative;
}

.main-button-google:hover {
    background: #AB1F09;
    transition: ease .5s;
}

.main-button-google::before {
    content: '';
    position: absolute;
    height: 28px;
    border: 1px solid #0A162F;
    opacity: 0.1;
    left: 48px;
}

.main-button-text {
    font-size: 16px;
}

.form:last-child .label-flex {
    margin: -3px 0 5px 3px;
}

.fieldset {
    margin: 32px 60px 38px;
    border: none;
    border-top: 1px solid #F2F2F2;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.legend {
    text-align: center;
    padding: 0 2px 2px 5px;
    font-size: 14px;
    color: #848484
}

.label-firstName {
    margin-top: 10px;
}

.input {
    width: 100%;
    height: 45px;
    padding: 15px 19px;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    font-size: 14px;
    color: #434343;
    outline: none;
}

.input::placeholder {
    color: #BEBEBE;
}

.input:hover {
    border: none;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
    transition: ease .5s;
}

.input:focus {
    border: none;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
}

.checkbox-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #434343
}

.label-flex {
    display: flex;
    align-items: center;
    gap: 8px;
}

.checkbox {
    width: 20px;
    height: 20px;
    border: 1px solid #F2F2F2;
    background: rgba(0, 0, 0, 0.0001);
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkbox:hover path {
    stroke: #01813F; 
}

input[type=checkbox] {
    display: none;
}

.svg-check {
    display: none;
}

.checkbox-hidden:checked ~ .checkbox .svg-check {
    display: block;
}

.text {
    font-size: 14px;
}

.terms-link {
    color: #3CB878;
    position: relative;
}

.terms-link:hover {
    color: #01813F;
}

.terms-link:hover::after {
    content: '';
    position: absolute;
    border-bottom: 1px solid #01813F;
    width: 120px;
    bottom: -3px;
    left: 4.5px;
}

.submit {
    width: 100%;
    height: 46px;
    background: rgba(60, 184, 120, 0.8);
    border-radius: 4px;
    border: none;
    color: #FFFFFF;
    font-size: 16px;
}

.submit:hover {
    background: #01813F;
    transition: ease-in-out .5s;
}