@font-face {
    font-family: Roboto;
    src: url(../font/Roboto-Medium.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a, ul, li {
    list-style: none;
    text-decoration: none;
}

body {
    font-family: 'Roboto';
}