.wrapper {
    width: 1280px;
    margin: 63px auto 30px;
}
.header {
    max-width: 1280px;
    display: flex;   
    flex-wrap: wrap;
    margin-bottom: 38px;
}

.header-logo {
   display: flex; 
   width: 100%;
}

.text-logo {
    font-size: 80px;
    color: #000;
}

.color-logo {
    color: #4BCAFF;
}

.header-navbar {
    width: 100%;
    padding-top: 38px;
}

.header-navbar-menu {
    display: flex;
    justify-content: center;
    background-color: #35444F;
}

.header-link {
    display: flex;
    padding: 26px 0px 19px 0px;
    color: white;
}

.header-navbar-menu li:first-child {
    padding: 0 33px 0 32px;
    border-left: 1px solid white;
}

.header-navbar-menu li:nth-child(2) {
    padding: 0 38px;
    border-left: 1px solid white;
}

.header-navbar-menu li:nth-child(2):hover {
    background: #222F3A;
}

.header-navbar-menu li:nth-child(3) {
    padding: 0 40px;
    border-left: 1px solid white;
}

.header-navbar-menu li:last-child {
    padding: 0 32px 0 40px;
    border-left: 1px solid white;
    border-right: 1px solid white;
}

.main {
   max-width: 1280px;
    display: flex;
    flex-wrap: wrap;
}

.aside-menu {
    display: flex;
    flex-direction: column;
    height: 399px;
    width: 344px;
    border: 1px solid black;
    margin-right: 51px;
  
}

.aside-menu-links {
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 44px;
}

.aside-menu-link {
    font-size: 27px;
    color: #495863;
}

.aside-menu ul:nth-child(2):hover {
    background-color: #DBDBDB;
}

.aside-menu ul:nth-child(2):hover a {
    color: black;
    padding-left: 30px;
}

.main-content {
    color: #2C2C2C;
}

img {
    width: 320px;
    height: 381px;
}

.main-image {
    width: 100%;
    height: 529px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

.main-image:hover img {
    transform: scale(1.3);
    transition: 1.2s;

}

.main-paragraph {
    margin: 37px 0 34px;
    max-width: 885px;
    font-size: 18px;
}

.main-content p:last-child {
    margin-bottom: 54px;
}

.footer {
    max-width: 1280px;
    padding: 20px 40px 21px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background: rgba(99, 105, 110, 0.48);;
}

.footer-navbar-menu {
    font-size: 28px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.footer-navbar-menu li:nth-child(2):hover a {
    color: #3181A6;
    text-decoration: underline 1px;
    text-underline-offset: 15px;
    text-decoration-color: #3181A6;
}

.footer-link {
    color: #0C1927;
}

.footer-paragraph {
    font-size: 24px;
    color: #010101;
}
