@font-face {
    font-family: Roboto;
    src: url(../font/Roboto.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto, sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    }

a, ul, li {
    text-decoration: none;
    list-style: none;
}

.wrapper {
    height: 100vh;
    background-image: url(../img/background\ 1.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    max-width: 1040px;
    margin: 0 auto;
}

.header {
    padding: 46px 0 17px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.header-logo-link { 
    display: flex;
    align-items: center;
    gap: 8px;
    color: inherit;
}

.header-logo-link-paragraph {
    display: flex;
    flex-direction: column;
    font-weight: 700;
    font-size: 29px;
}

.header-logo-link-span {
    line-height: 16px;
    font-weight: 700;
    font-size: 18px;
}

.header-logo-link:hover svg {
    fill: #F26522;
}
.header-logo-link:hover {
    color: #F26522;
}

.header-info {
    display: flex;
    flex-direction: column;
    gap: 19px;
}

.header-info-link {
    display: flex;
    justify-content: flex-end;
    color: inherit;
}

.header-info:hover a {
    color: #F26522;
}

.main {
    display: flex;
    flex-wrap: wrap;
    gap: 37px 62px;
}

.main-content-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    color: inherit;
}

img {
    box-sizing: content-box;
    width: 300px;
    height: 220px;
    border: 2px solid;
    border-image-source: linear-gradient(180deg, #FFFFFF 0%, rgba(0, 0, 0, 0) 100%);
    border-image-slice: 1;
}

.main-content-img {
    position: relative;
    overflow: hidden;
}

.main-content-details {
    position: absolute;
    bottom: -55px;
    left: 2px;
    width: 300px;
    height: 55px;
    background-color: #F26522;
    display: flex;
    justify-content: space-between;
    transition: bottom .6s;
}

.main-content:hover .main-content-details {
    bottom: 6px;
}

.main-content-link:hover .main-content-paragraph  {
    color: #F26522;
}

.main-content-price {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;  
    margin: 0 0 8px 16px;
    gap: 3px;

}

.main-content-price-paragraph {
    font-size: 10px;
}

.main-content-price-list {
    font-size: 20px;
}

.main-content-detail {
    display: flex;
    align-items: flex-end;
    gap: 16px;
    margin: 0 37px 12px 0;
    font-size: 14px;
    position: relative;
}

.main-content-detail::after {
    content: '';
    height: 5px;
    width: 5px;
    border-top: 1px solid white;
    border-right: 1px solid white;
    transform: rotate(45deg);
    position: absolute;
    right: -17px;
    bottom: 5px;
}

.footer {
    display: flex;
    justify-content: center;
    margin: 50px 0 15px 0;
}

.footer-paragraph {
    font-size: 12px;
}