@import "mixin.scss";

footer {
    width: 100%;
    height: 100%;
    background: #000000;
}
.footer-title {
    @include center;
    padding: 66px 0 22px;
        .footer-title-text {
            font-weight: 700;
            font-size: 16px;
            text-transform: uppercase;
            color: #FEFEFE;
        }
}

.footer-paragraph {
    @include center;
        .footer-paragraph-text {
            max-width: 684px;
            line-height: 28px;
            text-align: center;
            font-weight: 400;
            font-size: 16px;
            color: #B9B9B9;
        }
}

.footer-icon-border {
    @include center;
    border-radius: 30px;
    width: 34px;
    height: 34px;
}

.orange {
    border: 2px solid #F8902E;
}

.blue {
    border: 2px solid #39599F;
}

.sky {
    border: 2px solid #45B0E3;
}

.pink {
    border: 2px solid #D97AB0;
}

.red {
    border: 2px solid #CC212C;
}

.footer-icons {
    @include center;
    gap: 5px;
    margin: 48px 0 45px;
}

.footer-contacts {
    @include center;
    flex-wrap: wrap;
    padding-bottom: 70px;
        & a {
            font-weight: 400;
            font-size: 16px;
            color: #B9B9B9;
            text-align: center;
        }
        & span {
            font-weight: 400;
            font-size: 16px;
            color: #B9B9B9;
            text-align: center;
            margin: 0 10px;
        }
}

@media (max-width: 798px) {
    .footer-title {
        padding: 57px 0 22px;
    }
    .footer-contacts {
        padding-bottom: 56px;
    }
}

@media (max-width: 350px) {
    .footer-title {
        padding: 38px 0 8px;
            .footer-title-text {
                font-size: 14px;
            }
    }

    .footer-paragraph {
            .footer-paragraph-text {
                font-size: 12px;
                    & span {
                        display: none;
                    }
            }
    }

    .footer-icons {
        margin: 38px 0;
    }

    .footer-contacts {
        padding-bottom: 47px;
        max-width: 235px;
        margin: 0 auto;
            & a {
                font-size: 14px;
            }
            & span {
                font-size: 14px;
            }
    }
}
