@import "mixin.scss";

.header {
    margin: 0 15px
}

.header-links {
    @include  center;
    flex-wrap: wrap;
    height: 55px;
    gap: 0px 68px;
    margin: 29px 0 34px;
        .header-link {
            font-weight: 400;
            font-size: 11px;
            letter-spacing: 1.1px;
            text-transform: uppercase;
            color: #4E4E4E;
                &:hover {
                    color: #57A4A4;
                }
        }
}

.header-img {
    max-width: 100%;
    height: auto;
}

.burger-center {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin: 23px 0;
}

.burger-menu {
    display: none;
    width: 44px;
    height: 37px;
    cursor: pointer;
    position: relative;
    background-color: black;
  }
  .burger-menu span {
    background-color: white;
    height: 2px;
    position: absolute;
    bottom: 10px;
    width: 17px;
    transition: all 0.3s ease;
  }
  .burger-menu span:first-child {
    top: 13px;
  }
  .burger-menu span:nth-child(2) {
    top: 17px;
  }
  .burger-menu span:last-child {
    top: 21px;
  }
  .burger-menu.active span:nth-child(2) {
    opacity: 0;
  }
  .burger-menu.active span:first-child,
  .burger-menu.active span:last-child {
    top: 17px;
    background-color: white;
  }
  .burger-menu.active span:first-child {
    transform: rotate(45deg);
  }
  .burger-menu.active span:last-child {
    transform: rotate(-45deg);
  }

@media (max-width: 840px) {
    .header-links{
        gap: 40px;

    } 
}

@media (max-width: 768px) {
    .header-links{
        gap: 10px 34px;
        margin: 28px 0 23px;
    } 
}

@media (max-width: 767px) {
    .burger-menu {
        @include center;
    }
    .header-links{
        position: absolute;
        background-color: #F5F5F5;
        display: none;
        width: 182px;
        height: 208px;
        right: 15px;
        top: 32px;
        line-height: 28px;
        li {
            &:hover {
                background: #E5E5E5;
            } 
        }
        .header-link {
            margin-left: 12px;
        }
    } 
    .header-links.active{
       display: block;
    }
}