.main-instagram-content-text {
    display: flex;
    justify-content: space-between;
    padding: 47px 0 24px;
        .main-instagram-content-text-title {
            font-weight: 700;
            font-size: 16px;
            text-transform: uppercase;
            color: #4E4E4E;
        }
        
        .main-instagram-content-text-link{
            font-weight: 700;
            font-size: 13px;
            text-transform: uppercase;
            color: #4E4E4E;
        }
}

.main-instagram-content-photo {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 50px;
}

.content-photo {
    max-width: 100%;
    height: auto;
}

@media (max-width: 1200px) {
    .main-instagram-content-photo {
        .content-photo.fourth{   
            display: none;
        }
    }
}


@media (max-width: 900px) {
    .main-instagram-content-photo {
        gap: 9px;
        .content-photo {
            width: 240px;
            height: 240px;
        }
    }
}

@media (max-width: 767px) {
    .main-instagram-content-text-link {
        display: none;
    }
    .main-instagram-content-photo {
        .content-photo.third{   
            display: none;
        }
    }
    .main-instagram-content-photo {
        gap: 10px;
        .content-photo {
            width: 250px;
            height: 250px;
        }
    }
}

@media (max-width: 540px) {
    .main-instagram-content-text {
        padding: 0 0 24px;
            .main-instagram-content-text-title {
            font-size: 14px;
            }
        }
    .main-instagram-content-photo {
        justify-content: flex-start;
        margin-bottom: 42px;
        .content-photo.second{   
            display: none;
        }
    }
    .main-instagram-content-photo {
        .content-photo {
            width: 301px;
            height: 301px;
        }
    }
}
