main {
    margin: 0px 15px;
        .main-title-text {
            font-weight: 700;
            font-size: 16px;
            text-transform: uppercase;
            color: #4E4E4E;
            margin: 66px 0 24px;
        }
}

.main-contents {
    display: grid;
    grid-template-columns: repeat(2, 1fr);;
    gap: 32px 25px;
    margin-bottom: 69px;
        .main-content {
            display: flex;
                .main-content-img {
                    width: 160px;
                    height: 140px;
                }
        }
}

.main-content-text {
    max-width: 404px;
    margin-left: 20px;
        .main-content-text-first-paragraph{
            font-weight: 700;
            font-size: 16px;
            color: #4E4E4E;
            
        }
        .main-content-text-span {
            font-weight: 400;
            font-size: 12px;
            color: #7C7C7C;
     
        }
        .main-content-text-second-paragraph{
            font-weight: 400;
            font-size: 14px;
            line-height: 26px;
            color: #5C5C5C;
            margin-top: 13px;
        }
}

@media (max-width: 798px) {
    .main-contents {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 60px;
    }
}

@media (max-width: 350px) {
    main{
        .main-title-text {
            margin: 38px 0 23px;
            font-size: 14px;
        }
    }
    .main-contents {
        gap: 28.5px;
        margin-bottom: 137px;
    }

    .main-content {
        flex-direction: column;
        gap: 11px;
    }

    .main-content-text {
        margin-left: 0;
            .main-content-text-first-paragraph {
                font-size: 14px;
            }  
            .main-content-text-span {
                font-size: 11px;
            }
    }

    
    .main-content-text-second-paragraph {
        display: none;
    }
}
