@import "fonts.scss";
@import "header.scss";
@import "recentposts.scss";
@import "instagramshots.scss";
@import "footer.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto Medium;
}

a, ul, li {
    list-style: none;
    text-decoration: none;
}

.wrapper {
    max-width: 1200px;
    margin: auto;
}
